@import "tailwindcss";

@theme {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-brown: #483f36;
  --color-dark-green: #486e46;
  --color-accent: #c3e794;
  --color-golden: #e8d695;
  --color-pistachio: #d7e2c1;
  --color-beige: #cacab0;
  --color-caledon: #f0f7ed;
  --color-warm: #f7f5ed;
  --color-dusty: #ecece4;
  --color-lavender: #fef7ff;
  --color-error: #ff2244;

  --font-clash: "Clash Display", sans-serif;
  --font-inter: var(--font-inter-loaded), "Inter", sans-serif;

  --breakpoint-tablet: 810px;
  --breakpoint-desktop: 1200px;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
    overflow-x: clip;
  }

  body {
    overflow-x: clip;
  }
}

@layer utilities {
  .clash-features {
    font-feature-settings: "calt" 1, "liga" 1, "dlig" 0;
  }
}
